/* img {
  width: 100%;
  min-height: 350px;
} */
.main-div{
  background-color: #e8cf9b;
}
#left{
  font-family: Comic Sans MS;
  font-weight: 550;
  font-size: 28px;
  padding-right: 68%;
  margin-top: -30%;
  transform: translateY(100%); /* Initially move the div 100% down (out of view) */
  transition: transform 1s; /* Add a transition to the transform property */
}
#right{
  font-family: Comic Sans MS;
  font-weight: 550;
  font-size: 28px;
  margin-top: -12.5%;
  padding-left: 68%;
  transform: translateY(-100%); /* Initially move the div 100% up (out of view) */
  transition: transform 1s; /* Add a transition to the transform property */
}
#foot Footer img{
  width: 2px;
  height: 2px;
}

.main-div:hover #left,
.main-div:hover #right {
  transform: translateY(0); /* Move the divs back to their original positions */
}
